/* .containers {
  height: 800px;
  align-items: center;
  text-align: center;
  width: 1000px;
}
.card {
  margin: auto;
}
.cardi {
  background-repeat: no-repeat;
  height: 800px;
  align-items: center;
  text-align: center;
  width: 800px;
} */
